<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link type="text/css" href="/css/style.css" rel="stylesheet" />
  <link type="text/css" href="/css/estilos.css" rel="stylesheet" />
  <link type="text/css" href="/css/calendario.css" rel="stylesheet">

  <!-- restation whats -->
  <script type="text/javascript" async
    src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/cc30ca6f-349d-4691-a568-b36416a0ff8e-loader.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B8DW5RQ220"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-B8DW5RQ220');
  </script>
</head>

<body>

  <!-- Modal Novo Orçamento -->
  <div class="modal fade" id="novoOrcamento" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">Novo Orçamento</h5>
          <button type="button" onclick="location.reload()" class="btn btn-sm btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class='mt-1 mb-2'>
            <a href="/gerenciamento/orcamento" class="btn btn-sm btn-primary">Novo Orçamento</a>
          </div>
          {{#if todos_clientes}}
          <form action="/gerenciamento/orcamento" method="post">
            <div style="display: flex;">
              <select name="cliente" class="form-select form-select-sm">
                {{#each todos_clientes}}
                <option value="{{_id}}">{{nome}}</option>
                {{/each}}
              </select>
              <button type="submit" class="btn btn-success">Próximo</button>
            </div>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <!-- Final Modal -->

    <!-- Modal Instalador-->
  <div class="modal fade" id="instalador" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Equipe do Projeto</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card mb-2">
            <div class="card-body">
          <form action="/gerenciamento/addInstalador" method="post">
            <label class="col-form-label">Selecionar instalador</label>
            <div id="addInstaller"></div>
            <div style="display: flex;">
              <select class="form-select form-select-sm" name="instalador" style="width: 38rem;margin: auto;">
                {{#each todos_instaladores}}
                <option value="{{_id}}">{{nome}}</option>
                {{/each}}
              </select>
              <label class="col-form-label col-form-label-sm"
                style="width: 22rem;margin: auto;padding-left: 50px;">Quantidade de Painéis: </label>
              <input type="number" class="form-control form-control-sm" name="qtdmod" id="qtdmod"
                style="width: 5rem;margin: auto;">
              <button type="submit" style="display: flex; height: 2rem; border-color: white;margin: auto;"><i
                  class="bi bi-plus" style="display: flex;margin: auto;"></i></button>
              <a href="/gerenciamento/vermais" class="btn btn-primary d-flex items-align-center"
                style="margin-left: 10px;height: 40px;margin-top: 5px;"><i class="bi bi-calendar2"></i></a>
            </div>
          </form>
          </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label class="col-form-label">Instaladores Selecionados</label>
              <table>
                <tr>
                  <th style="width: 40%;">Instalador Banco</th>
                  <th>Qtd. Módulos</th>
                  <th>Ações</th>
                </tr>
                <tr>
                  <td>
                    <div style="font-size: 15px;" id="modal-body-installers"></div>
                  </td>
                  <td>
                    <div style="font-size: 15px;" id="modal-body-modules"></div>
                  </td>
                  <td>
                    <div id="modal-body-actions"></div>
                  </td>
                </tr>
              </table>
              <form action="/gerenciamento/enviarEquipe" method="post" id="formAuthorization">
                <div id="sendTeam" style="display: none;">
                  <div style="display: flex;position: relative;padding-top: 20px;">
                    <div id="insRealizado">
                      <label class="col-form-label col-form-label-sm" style="width: 150px;">Instalador Realizado:</label>
                      <select class="form-select form-select-sm" name="ins_realizado" id="sel_realizado" style="width: 250px;margin: auto;">
                        {{#each todos_instaladores}}
                        <option value="{{_id}}">{{nome}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div style="display: flex;">
                      <label class='col-form-label col-form-label-sm'
                        style="margin: auto;width: 120px;text-align: right;">Data Final:&nbsp</label>
                      <input class="form-control form-control-sm" style="margin: auto;width: 120px" type="date"
                        name="dtfim" id="dtfim">
                      <button type="submit" id="buttonAuth" style="margin-left: 40px;width: 40px;font-size: 15px;"><i
                          id="iconAuth" style="padding: 4px;"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Final Modal-->

  <!-- Modal Orçamento -->
  <div class='modal fade' id='orcamento' tabindex="-1" aria-hidden="true">
    <div class='modal-dialog modal-fullscreen'>
      <div class="modal-content">
        <div class="modal-header">
          <label style="font-size: 30px;" class='modal-title fw-bold'>Proposta</label>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <object data="/gerenciamento/mostrarBucket/{{descricao}}" type="application/pdf" width="100%" height="100%">
            <p>Seu navegador não tem um plugin pra PDF</p>
          </object>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal-->

  <!-- Modal Pedido-->
  <div class='modal fade' id='pedido' tabindex="-1" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
      <div class="modal-content">
        <div class="modal-header">
          <label style="font-size: 30px;" class='modal-title fw-bold'>Pedido</label>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/gerenciamento/pedido" method='post'>
            <label class="col-form-label fw-bold">Potência:</label>
            <label class="col-form-label" id="potenciaTotal">{{#if
              pedido.potencia}}{{pedido.potencia}}{{else}}{{projeto.potencia}}{{/if}}&nbspkWp</label><br>
            <input type="hidden" name="potencia" id='potencia' value="{{projeto._id}}">
            <input type="hidden" name="id" id='id' value="{{projeto._id}}">
            <input type="hidden" name="idpedido" value="{{pedido._id}}">
            <div class="row">
              <label class="col-form-label fw-bold mb-1">Descrição do Sistema</label><br>
              <label class="col-form-label col-form-label-sm">Módulo Fotovoltaico</label><br>
              <div class="row">
                <div class="col">
                  <label class="col-form-label col-form-label-sm mb-1">Potência(W)</label><br>
                  <label class="col-form-label col-form-label-sm mb-1">Quantidade</label><br>
                </div>
                <div class="col">
                  <input type="number" name='plaWattMod' id="plaWattMod" class="form-control form-control-sm mb-1"
                    onchange="somaPotencia()"
                    value="{{#if projeto.plaWattMod}}{{projeto.plaWattMod}}{{else}}{{pedido.plaWattMod}}{{/if}}">
                  <input type="number" name='plaQtdMod' id="plaQtdMod" class="form-control form-control-sm mb-1"
                    onchange="somaPotencia()"
                    value="{{#if projeto.plaQtdMod}}{{projeto.plaQtdMod}}{{else}}{{pedido.plaQtdMod}}{{/if}}">
                </div>
              </div>
              <div>
                <br>
              </div>
              <hr>
              <label class="col-form-label col-form-label-sm">Inversor</label><br>
              <div class="row">
                <div class="col">
                  <label class="col-form-label col-form-label-sm mb-1">Potência(kW)</label><br>
                  <label class="col-form-label col-form-label-sm">Quantidade</label><br>
                </div>
                <div class="col">
                  <input type="text" name='plaKwpInv' class="form-control form-control-sm mb-1"
                    value="{{#if projeto.plaKwpInv}}{{projeto.plaKwpInv}}{{else}}{{pedido.plaKwpInv}}{{/if}}">
                  <input type="number" name='plaQtdInv' class="form-control form-control-sm"
                    value="{{#if projeto.plaQtdInv}}{{projeto.plaQtdInv}}{{else}}{{pedido.plaQtdInv}}{{/if}}">
                </div>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <div class="col">
                  <label class="col-form-label col-form-label-sm mb-1">Valor Kit R$</label><br>
                  <label class="col-form-label col-form-label-sm mb-1">Valor Serviço R$</label><br>
                  <label class="col-form-label col-form-label-sm">Total R$</label>
                </div>
                <div class="col">
                  <input type="number" step="0.0010" name='vlrKit' id="vlrKit" class="form-control form-control-sm mb-1"
                    onchange="somaTotal()" value="{{vlrKit}}">
                  <input type="hidden" id="vlrKitBase" value="{{vlrKit}}">
                  <label class="col-form-label col-form-label-sm mb-1"
                    id="vlrMaskServico">{{vlrMascaraServico}}</label><br>
                  <input type="hidden" id="vlrServico" name='vlrServico' value="{{vlrServico}}">
                  <input type="hidden" id="vlrmdo" value="{{empresa.vlrmdo}}">
                  <input type="number" step="0.0010" name='vlrTotal' id='vlrTotal' onchange="somaTotal()"
                    class="form-control form-control-sm"
                    value="{{#if pedido.vlrTotal}}{{pedido.vlrTotal}}{{else}}{{projeto.valor}}{{/if}}">
                  <input type="hidden" id="vlrTotalBase"
                    value="{{#if pedido.vlrTotal}}{{pedido.vlrTotal}}{{else}}{{projeto.valor}}{{/if}}">
                </div>
              </div>
            </div>
            <div class="row">
              <label style="font-size: 17px;" class="fw-bold titulo-inicio">Fechamento</label><br>
              <div class="row mb-2">
                <div class="col-md-6">
                  <label class='col-form-label col-form-label-sm'>Telhado</label>
                  <input class='form-control form-control-sm' type='text' name='telhado'
                    value="{{#if pedido.telhado}}{{pedido.telhado}}{{else}}{{projeto.telhado}}{{/if}}">
                </div>
                <div class="col-md-6">
                  <label class='col-form-label col-form-label-sm'>Orientação</label>
                  <select class='form-select form-select-sm' name='orientacao'>
                    {{#if projeto.orientacao}}
                    <option class="fw-bold">{{#if
                      projeto.orientacao}}{{projeto.orientacao}}{{else}}{{pedido.orientacao}}{{/if}}
                    </option>
                    {{/if}}
                    <option>Norte</option>
                    <option>Oeste</option>
                    <option>Leste</option>
                    <option>Nordeste</option>
                    <option>Noroeste</option>
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-6">
                  <label class='col-form-label col-form-label-sm'>Unidade Geradora</label>
                  <input class='form-control form-control-sm' type='text' name='descug'
                    value="{{#if pedido.descug}}{{pedido.descug}}{{else}}{{projeto.descug}}{{/if}}">
                </div>
                <div class="col-md-6">
                  <label class='col-form-label col-form-label-sm'>Unidade Compensadora</label>
                  <input class='form-control form-control-sm' type='text' name='descuc'
                    value="{{#if pedido.descuc}}{{pedido.descuc}}{{else}}{{projeto.descuc}}{{/if}}">
                </div>
              </div>
              <div class="row">
                <div class="card">
                  <div class="card-body">
                    <label class='col-form-label col-form-label-sm'>Condição de Pagamento:
                    </label>
                    <div class="input-group has-validation">
                      <input class='form-control form-control-sm is-invalid' type='text'
                        onkeyup="fieldValidation('condicao')" id="condicao"
                        aria-describedby="validationServerFeedback01" name='pagamento' value="{{projeto.pagamento}}"
                        required>
                      <div class="invalid-feedback" style="font-size: 10px;">
                        A condição de pagamento é obrigatória
                      </div>
                    </div>
                    <label class='col-form-label col-form-label-sm'>Responsável Fincanceiro
                    </label>
                    <input class='form-control form-control-sm' type='text' name='pagador' value="{{pedido.pagador}}">
                    <label class='col-form-label col-form-label-sm'>Prazo
                    </label>

                    <div class="form-check" onclick="select()">
                      <input class="form-check-input" style="margin-top: 0px" type="radio" name="prazo" id="select30"
                        {{check30}}>
                      <label class="form-check-label" style="font-size: 12px;">
                        30 dias
                      </label>
                    </div>

                    <div class="form-check" onclick="select()">
                      <input class="form-check-input" style="margin-top: 0px" type="radio" name="prazo" id="select45"
                        {{check45}}>
                      <label class="form-check-label" style="font-size: 12px;">
                        45 dias
                      </label>
                    </div>

                    <div class="form-check" onclick="select()">
                      <input class="form-check-input" style="margin-top: 0px" type="radio" name="prazo" id="select60"
                        {{check60}}>
                      <label class="form-check-label" style="font-size: 12px;">
                        60 dias
                      </label>
                    </div>

                    <input type="hidden" name='dataprazo' id='dataprazo' value="{{pedido.prazo}}">

                    <label class='col-form-label col-form-label-sm'>Observação
                    </label>
                    <textarea name="obs" class='form-control ' cols="30" rows="5">{{pedido.obs}}</textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div style="width: 80px;">
                <button type='submit' class="btn btn-sm btn-primary mt-2">Enviar</button>
              </div>
              {{#if pedido._id}}
              <div class='col'>
                <a href='/relatorios/pedido/{{projeto._id}}' style="color: rgb(40, 55, 86);font-size: 30px;"><i
                    class="bi bi-printer d-flex align-items-left mt-2"></i></a>
              </div>
              {{/if}}
            </div>
          </form>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Fim Modal -->

  <!-- Modal Oservação -->
  <div class='modal fade' id='observacao' tabindex="-1" aria-hidden="true">
    <div class='modal-dialog modal-dialog-centered'>
      <div class="modal-content">
        <div class="modal-header">
          <label style="font-size: 20px;" class='modal-title fw-bold'>Observação Proposta</label>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/gerenciamento/observacao" method="post">
            <input type="hidden" value="{{projeto._id}}" name="id">
            <textarea readonly class='form-control' cols="30" rows="10">{{projeto.obs}}</textarea>
            <textarea name="obs" id="obs" class='form-control mt-1' cols="30" rows="2"></textarea>
            <button class="btn btn-sm btn-success" type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal -->

  <script>
    //LÓGICA DA SAUDAÇÃO
    window.onload = function () {
      var saudacao = document.getElementById('saudacao')

      var data = new Date()
      var semana = data.getDay()

      if (semana == 1) {
        semana = 'Segunda-feira'
      }
      if (semana == 2) {
        semana = 'Terça-feira'
      }
      if (semana == 3) {
        semana = 'Quarta-feira'
      }
      if (semana == 4) {
        semana = 'Quinta-feira'
      }
      if (semana == 5) {
        semana = 'Sexta-feira'
      }
      if (semana == 6) {
        semana = 'Sábado'
      }
      if (semana == 0) {
        semana = 'Domingo'
      }

      var dia = data.getDate()
      var mes = data.getMonth()

      switch (mes + 1) {
        case 1: mes = 'Janeiro'
          break;
        case 2: mes = 'Fevereiro'
          break;
        case 3: mes = 'Março'
          break;
        case 4: mes = 'Abril'
          break;
        case 5: mes = 'Maio'
          break;
        case 6: mes = 'Junho'
          break;
        case 7: mes = 'Julho'
          break;
        case 8: mes = 'Agosto'
          break;
        case 9: mes = 'Setembro'
          break;
        case 10: mes = 'Outubro'
          break;
        case 11: mes = 'Novembro'
          break;
        case 12: mes = 'Dezembro'
          break;
      }

      var ano = data.getFullYear()
      var hora = data.getHours()
      //ajuste da hora no servidor para horário do cliente brasília
      hora = hora - 3
      var tempo
      if (hora >= 18 && hora <= 24) {
        tempo = 'Boa Noite '
      }
      if (hora >= 12 && hora < 18) {
        tempo = 'Boa tarde '
      }
      if (hora >= 0 && hora < 12) {
        tempo = 'Bom dia '
      }

      saudacao.innerHTML = 'Hoje é ' + semana + ', dia ' + dia + ' de ' + mes + ' de ' + ano
      saudacao.style.width = '600px'

      //REDIMENSIONAMETO PARA A TELA RESPONSIVA DO APLICATIVO
      if (screen.width < 640 || screen.height < 480) {
        saudacao.style.width = '300px'
        saudacao.className = 'col-form-label col-form-label-sm'
        //menu_open.style.paddingLeft: "40px"
        var ehmobile = document.getElementById('ehmobile')
        ehmobile.style.display = 'none'
        //mostra.style.display = ''
      }

      //AJUSTE DOS QUADROS DO MENU PRINCIPAL (DASHBOARD) 
      var obra = document.getElementById('obra')
      var dim = document.getElementById('dim')
      var dim1 = document.getElementById('dim1')
      var dim2 = document.getElementById('dim2')
      var tarefa = document.getElementById('tarefa')
      var grafico = document.getElementById('grafico')

      var altura = parseFloat(window.screen.height)
      var alttarefa

      altura = Math.trunc(altura - (altura * 0.55))
      alttarefa = (Math.trunc(altura - (altura * 0.2))) / 2
      altura = altura + 'px'
      alttarefa = alttarefa + 'px'

      if (obra.value == 'false') {
        dim.style.height = altura
        dim1.style.height = altura
        dim2.style.height = altura
      } else {
        tarefa.style.height = alttarefa
        grafico.style.height = alttarefa
      }
    }
  </script>

  {{>_navbar}}
  {{#if error}}
  <div class="alert alert-danger">{{error}}</div>
  {{else}}
  {{/if}}
  {{>_msg}}
  {{{body}}}
</body>

{{#if user}}
<footer class='no-print' style='position: fixed; bottom: 0; z-index:900;'>
  <div class="row" style="width: 100%;padding: 3px;border-top: rgb(40,55,89,0.3) 1px solid;color: rgb(40,55,89)">
    <div class="col-md-1">
      <div style="margin-left: 10px; font-weight: 800;font-size: 12px">
        VIMMUS
      </div>
    </div>
    <div class="col-md-9" style="color: rgb(40,55,89);">
      <div style="text-align: right;font-size: 8px">
        2021 - Direitos Reservados - <a style="text-decoration: none;color: rgb(40,55,89);" href='/termo'>Termos de
          Uso</a> - <a style="text-decoration: none;color: rgb(40,55,89);" href='/politica'>Política de Privacidade</a>
      </div>
    </div>
  </div>
</footer>
{{else}}
<footer class='no-print'
  style='bottom: 0;color: rgb(40,55,89);background-color: white;position: relative;z-index: 900;'>
  <div style="background-color: white;">
    <div class='row' style="width: 100%;padding: 20px;">
      <div class="col-md-3 mt-2" style="margin: auto">
        <h5>Nos siga nas redes sociais</h5><br>
        <a href='https://www.instagram.com/vimmus.solucoes' target="_blank"><img src='/img/instagram.svg'
            width="41"></a>
        <a href='https://www.facebook.com/vimmus.solucoes' target="_blank"><img src='/img/facebook.svg' width="40"></a>
        <a href='https://www.linkedin.com/company/vimmusenergiasolar' target='_blank'><img src='/img/linkedin.svg'
            width="40"></a>
      </div>
      <div class="col">
        <div style="margin-top: 15px;text-align: center;">
          <h1><i class='bi bi-geo-alt' style="font-size: 20px;"></i>Av. dos Ipês, n°565, Bairro Eldorado</h1>
          <h1>Horizontina/RS</h1>
          <h1>Incubadora Horizonte Ambiente Empreendedor (HAE)</h1>
        </div>

      </div>
      <div class="col-md-3 text-end mt-3">
        <h1>Entre em contato pelo WhatsApp</h1><br>
        <h1 style="font-weight: 600;">(55) 9 9659-3117</h1>
      </div>
    </div>
  </div>
  <div style="text-align: center;margin-top: 40px; margin-bottom: 20px;font-size: 12px;">
    2021 - Direitos Reservados - <a style="text-decoration: none;color: rgb(40,55,89);" href='/termo'>Termos de Uso</a>
    - <a style="text-decoration: none;color: rgb(40,55,89);" href='/politica'>Política de Privacidade</a>
  </div>
  <div>
    <div class="row mt-2 mb-2" style="width: 100%">
      <div class="col text-center">
        <img src='/img/logo-fcj.png' width="130">
      </div>
      <div class="col text-center">
        <img src='/img/logo-aws.png' width="150" style="margin-top: 20px">
      </div>
      <div class="col text-center">
        <img src='/img/logo-hae.png' width="150">
      </div>
    </div>
  </div>
</footer>
{{/if}}
<script src="//rawgit.com/robertocr/cidades-estados-js/master/cidades-estados-1.4-utf8.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
  integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
  integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
{{!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/bootstrap.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/2.0.0/assets/js/bootstrap-typeahead.js"></script>

</html>